/* Tag Selector */
h1 {
color: red;
font-size: 200px;
}

img {
background-color:red;
display:block;
}
img:hover {
background-color:gold;
}


/* Class Selector */
.bacon {
    background-color: green;
}
.broccoli {
    background-color: red;
}
.circular {

  border-radius: 100%;
}
.joinBtn {
  width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.joinBtn:hover {
  background-color: bisque;
}

/* ID Selector */

#heading {
    color:blue;
}